#pre-loader .icon-bottle{
  display: inline-block;
  width: 38px;
  height: 142px;
  margin: 0px 20px;
}

#pre-loader{
  background: white;
  left: 0px;
  right: 0px;
  justify-content: center;
  margin: 0px auto;
  top: 50%;
  margin-top: -71px;
}

#pre-loader .icon:nth-child(1){
  animation: grow 2s ease-in-out infinite;
}

#pre-loader .icon:nth-child(2){
  animation: grow 2s ease-in-out 0.15s infinite;
}

#pre-loader .icon:nth-child(3){
  animation: grow 2s ease-in-out 0.30s infinite;
}

#pre-loader .icon:nth-child(4){
  animation: grow 2s ease-in-out 0.45s infinite;
}

@keyframes grow{
  0%, 100%{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }

  50%{
    -webkit-transform: scaleY(1.2);
    -ms-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    transform: scaleY(1.2);
  }
}

@media screen and (max-width: 768px) {
  #pre-loader .icon{
    width: 28px;
    height: 122px;
    margin: 0px 10px;
  }
}

@media screen and (max-width: 321px) {
  #pre-loader .icon{
    width: 18px;
    height: 62px;
    margin: 0px 10px;
    margin-bottom: -15px;
  }
}