.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-logo-white{
  height: 160px;
  width: 160px;
}

.icon-barrel{
  display: block;
  margin: 0px auto;
  height: 60px;
  width: 58px;
}

.icon-beer{
  display: block;
  margin: 0px auto;
  height: 60px;
  width: 54px;
}

.icon-corn{
  display: block;
  margin: 0px auto;
  height: 59px;
  width: 27px;
}

.icon-pipe{
  display: block;
  margin: 0px auto;
  height: 60px;
  width: 60px;
}


.icon-barrel-hor{
  display: block;
  margin: 0px auto;
  height: 50px;
  width: 64px;
}
