.container{
  width: 760px;
  margin: 0px auto;
}
.section{
  padding-top: 100px;
  padding-bottom: 82px;
}

.blackout{
  background: white;
  position: fixed;
  z-index: 11;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &_disabled{
    left: -9999px;
    right: auto;
    transition: left 3s;
  }
}

@media screen and (max-width: 768px) {
  .section{
    padding-top: 60px;
  }
    .container{
      width: 100%;
      padding: 0px 20px;
    }
}

